openapi: 3.0.3
info:
  contact:
    email: vrchatapi.lpv0t@aries.fyi
    name: Unofficial VRChat API Documentation Project
    url: https://github.com/VRChatAPI
  description: |-
    ![VRChat API Banner](https://vrchatapi.github.io/assets/img/api_banner_1500x400.png)

    # Welcome to the VRChat API

    Before we begin, we would like to state this is a **COMMUNITY DRIVEN PROJECT**.
    This means that everything you read on here was written by the community itself and is **not** officially supported by VRChat.
    The documentation is provided "AS IS", and any action you take towards VRChat is completely your own responsibility.

    The documentation and additional libraries SHALL ONLY be used for applications interacting with VRChat's API in accordance
    with their [Terms of Service](https://hello.vrchat.com/legal) and [Community Guidelines](https://hello.vrchat.com/community-guidelines), and MUST NOT be used for modifying the client, "avatar ripping", or other illegal activities.
    Malicious usage or spamming the API may result in account termination.
    Certain parts of the API are also more sensitive than others, for example moderation, so please tread extra carefully and read the warnings when present.

    ![Tupper Policy on API](https://i.imgur.com/yLlW7Ok.png)

    Finally, use of the API using applications other than the approved methods (website, VRChat application, Unity SDK) is not officially supported.
    VRChat provides no guarantee or support for external applications using the API. Access to API endpoints may break **at any time, without notice**.
    Therefore, please **do not ping** VRChat Staff in the VRChat Discord if you are having API problems, as they do not provide API support.
    We will make a best effort in keeping this documentation and associated language libraries up to date, but things might be outdated or missing.
    If you find that something is no longer valid, please contact us on Discord or [create an issue](https://github.com/vrchatapi/specification/issues) and tell us so we can fix it.

    # Getting Started

    The VRChat API can be used to programmatically retrieve or update information regarding your profile, friends, avatars, worlds and more.
    The API consists of two parts, "Photon" which is only used in-game, and the "Web API" which is used by both the game and the website.
    This documentation focuses only on the Web API.

    The API is designed around the REST ideology, providing semi-simple and usually predictable URIs to access and modify objects.
    Requests support standard HTTP methods like GET, PUT, POST, and DELETE and standard status codes.
    Response bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.

    <div class="callout callout-error">
      <strong>🛑 Warning! Do not touch Photon!</strong><br>
      Photon is only used by the in-game client and should <b>not</b> be touched. Doing so may result in permanent account termination.
    </div>

    <div class="callout callout-info">
      <strong>ℹ️ Authentication</strong><br>
      Read <a href="#tag--authentication">Authentication</a> for how to log in.
    </div>

    # Using the API

    For simply exploring what the API can do it is strongly recommended to download [Insomnia](https://insomnia.rest/download), a free and open-source
    API client that's great for sending requests to the API in an orderly fashion.
    Insomnia allows you to send data in the format that's required for VRChat's API.
    It is also possible to try out the API in your browser, by first logging in at [vrchat.com/home](https://vrchat.com/home/) and then going to
    [vrchat.com/api/1/auth/user](https://vrchat.com/api/1/auth/user), but the information will be much harder to work with.

    For more permanent operation such as software development it is instead recommended to use one of the existing language SDKs.
    This community project maintains API libraries in several languages, which allows you to interact with the API with simple function calls
    rather than having to implement the HTTP protocol yourself. Most of these libraries are automatically generated from the API specification,
    sometimes with additional helpful wrapper code to make usage easier. This allows them to be almost automatically updated and expanded upon
    as soon as a new feature is introduced in the specification itself. The libraries can be found on [GitHub](https://github.com/vrchatapi) or following:

    * [NodeJS (JavaScript)](https://www.npmjs.com/package/vrchat)
    * [Dart](https://pub.dev/packages/vrchat_dart)
    * [Rust](https://crates.io/crates/vrchatapi)
    * [C#](https://github.com/vrchatapi/vrchatapi-csharp)
    * [Python](https://github.com/vrchatapi/vrchatapi-python)

    # Pagination

    Most endpoints enforce pagination, meaning they will only return 10 entries by default, and never more than 100.<br>
    Using both the limit and offset parameters allows you to easily paginate through a large number of objects.

    | Query Parameter | Type | Description |
    | ----------|--|------- |
    | `n` | integer  | The number of objects to return. This value often defaults to 10. Highest limit is always 100.|
    | `offset` | integer  | A zero-based offset from the default object sorting.|

    If a request returns fewer objects than the `limit` parameter, there are no more items available to return.

    # Contribution

    Do you want to get involved in the documentation effort? Do you want to help improve one of the language API libraries?
    This project is an [OPEN Open Source Project](https://openopensource.org)! This means that individuals making significant and valuable contributions are given
    commit-access to the project. It also means we are very open and welcoming of new people making contributions, unlike some more guarded open-source projects.

    [![Discord](https://img.shields.io/static/v1?label=vrchatapi&message=discord&color=blueviolet&style=for-the-badge)](https://discord.gg/qjZE9C9fkB)
  license:
    name: MIT
    url: https://github.com/vrchatapi/specification/blob/master/LICENSE
  termsOfService: https://vrchat.com/legal/
  title: VRChat API Documentation
  version: 1.20.5
servers:
- url: https://api.vrchat.cloud/api/1
tags:
- description: Authentication Docs Here
  name: authentication
- description: Avatars Docs Here
  name: avatars
- description: Calendar docs here
  name: calendar
- description: Economy Docs Here
  name: economy
- description: Favorites Docs Here
  name: favorites
- description: Files Docs Here
  name: files
- description: Friends Docs Here
  name: friends
- description: Group Docs Here
  name: groups
- description: "The inventory manages collectable items, such as drop bundles and\
    \ their contents."
  name: inventory
- description: Invite Docs Here
  name: invite
- description: Instances Docs Here
  name: instances
- description: Jams Docs Here
  name: jams
- description: Notifiations Docs
  name: notifications
- description: |-
    There are two different moderation API's, "moderation" for Staff actions, and "playermoderation" for players.
    PlayerModerations are user-generated actions towards others, such as muting them, blocking, or toggling interaction.

    Your global permission settings are stored locally on your computer.
    Only player-specific moderations (when you target a player, and allow them specifically to interact with you) are stored in the API.

    ## Implementation details

    There are three different user-targetted permission options:

    - Mode 1: interactOn/unmute/unblock
    - Mode 2: interactOff/mute/block
    - *Default setting*

    **Example:**

    Force On (`interactOn`) and Force Off (`interactOff`) always or never allow that person to interact with you.
    These are stored as PlayerModerations. When you select a player and select "Force On", it creates a playerModeration of type `interactOn`.

    **Important order:**

    1. When switching between one mode from the other, e.g. "Force On" and "Force Off", **the previous playerModeration MUST first be deleted before creating the second.**
       The game sends these in sequence, first delete the old, then create the new. Attempting to create both `interactOn` and `interactOff` is UNDOCUMENTED behavior.
    2. "Use Current Setting" **does not have it's own enum**. The game removes any previous playerModeration of same type.
       No playerModeration of either type means fallback to the global setting.

    ## Deprecation notice

    As of October 2022, `showAvatar` and `hideAvatar` has been moved to local storage.
    Sending these types to the API will result in a 200 OK response, but the API will **not** store them.
    More information is avaiable on VRChat's official [documentation on Local Storage](https://docs.vrchat.com/docs/local-vrchat-storage).
  name: playermoderation
- description: Prints are a way to print photos directly from the VRChat camera.
  name: prints
- description: Props are interactable items users can spawn into instances.
  name: props
- description: Users Docs Here
  name: users
- description: Worlds Docs Here
  name: worlds
- description: Miscellaneous endpoints that do not fit into any other category.
  name: miscellaneous
paths:
  /auth/exists:
    get:
      description: |-
        Checks if a user by a given `username`, `displayName` or `email` exist. This is used during registration to check if a username has already been taken, during change of displayName to check if a displayName is available, and during change of email to check if the email is already used. In the later two cases the `excludeUserId` is used to exclude oneself, otherwise the result would always be true.

        It is **REQUIRED** to include **AT LEAST** `username`, `displayName` **or** `email` query parameter. Although they can be combined - in addition with `excludeUserId` (generally to exclude yourself) - to further fine-tune the search.
      operationId: checkUserExists
      parameters:
      - description: Filter by email.
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: Filter by displayName.
        explode: true
        in: query
        name: displayName
        required: false
        schema:
          type: string
        style: form
      - description: Filter by Username.
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: Exclude by UserID.
        explode: true
        in: query
        name: excludeUserId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserExists"
          description: Returns a response if a user exists or not.
        "400":
          content:
            application/json:
              examples:
                "400 At Least One Parameter Required":
                  value:
                    error:
                      message: "\"username, email, or displayName required\""
                      status_code: 400
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when missing at least 1 of the required parameters.
      summary: Check User Exists
      tags:
      - authentication
  /auth/user:
    get:
      description: "This endpoint does the following two operations:\n  1) Checks\
        \ if you are already logged in by looking for a valid `auth` cookie. If you\
        \ are have a valid auth cookie then no additional auth-related actions are\
        \ taken. If you are **not** logged in then it will log you in with the `Authorization`\
        \ header and set the `auth` cookie. The `auth` cookie will only be sent once.\n\
        \  2) If logged in, this function will also return the CurrentUser object\
        \ containing detailed information about the currently logged in user.\n\n\
        The auth string after `Authorization: Basic {string}` is a base64-encoded\
        \ string of the username and password, both individually url-encoded, and\
        \ then joined with a colon.\n  \n> base64(urlencode(username):urlencode(password))\n\
        \n**WARNING: Session Limit:** Each authentication with login credentials counts\
        \ as a separate session, out of which you have a limited amount. Make sure\
        \ to save and reuse the `auth` cookie if you are often restarting the program.\
        \ The provided API libraries automatically save cookies during runtime, but\
        \ does not persist during restart. While it can be fine to use username/password\
        \ during development, expect in production to very fast run into the rate-limit\
        \ and be temporarily blocked from making new sessions until older ones expire.\
        \ The exact number of simultaneous sessions is unknown/undisclosed."
      operationId: getCurrentUser
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUser"
          description: OK
          headers:
            Set-Cookie:
              description: Successful authentication returns an `auth` cookie.
              explode: false
              schema:
                example: "auth=authcookie_00000000-0000-0000-0000-000000000000; Expires=Tue,\
                  \ 01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly"
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authHeader: []
      - authHeader: []
        twoFactorAuthCookie: []
      - authCookie: []
      summary: Login and/or Get Current User Info
      tags:
      - authentication
  /auth/twofactorauth:
    delete:
      description: Disables 2FA for the currently logged in account
      operationId: disable2FA
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Disable2FAResult"
          description: OK
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Disable 2FA
      tags:
      - authentication
  /auth/twofactorauth/totp/verify:
    post:
      description: Finishes the login sequence with a normal 2FA-generated code for
        accounts with 2FA-protection enabled.
      operationId: verify2FA
      parameters: []
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: "#/components/schemas/TwoFactorAuthCode"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Verify2FAResult"
          description: OK
          headers:
            Set-Cookie:
              description: "Provides a `twoFactorAuth` cookie, which can be used to\
                \ bypasses the 2FA requirement for future logins on the same device."
              explode: false
              schema:
                example: "twoFactorAuth=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx;\
                  \ Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly"
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Verify 2FA code
      tags:
      - authentication
  /auth/twofactorauth/totp/pending:
    delete:
      description: Cancels the sequence for enabling time-based 2FA.
      operationId: cancelPending2FA
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Disable2FAResult"
          description: OK
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Cancel pending enabling of time-based 2FA codes
      tags:
      - authentication
    post:
      description: Begins the sequence for enabling time-based 2FA.
      operationId: enable2FA
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pending2FAResult"
          description: OK
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Enable time-based 2FA codes
      tags:
      - authentication
  /auth/twofactorauth/totp/pending/verify:
    post:
      description: Finishes sequence for enabling time-based 2FA.
      operationId: verifyPending2FA
      parameters: []
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: "#/components/schemas/TwoFactorAuthCode"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Verify2FAResult"
          description: OK
          headers:
            Set-Cookie:
              description: "Provides a `twoFactorAuth` cookie, which can be used to\
                \ bypasses the 2FA requirement for future logins on the same device."
              explode: false
              schema:
                example: "twoFactorAuth=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx;\
                  \ Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly"
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Verify Pending 2FA code
      tags:
      - authentication
  /auth/user/twofactorauth/otp:
    get:
      description: Gets the OTP (One Time Password) recovery codes for accounts with
        2FA-protection enabled.
      operationId: getRecoveryCodes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TwoFactorRecoveryCodes"
          description: Returns the two factor recovery codes
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get 2FA Recovery codes
      tags:
      - authentication
  /auth/twofactorauth/otp/verify:
    post:
      description: Finishes the login sequence with an OTP (One Time Password) recovery
        code for accounts with 2FA-protection enabled.
      operationId: verifyRecoveryCode
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: "#/components/schemas/TwoFactorAuthCode"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Verify2FAResult"
          description: OK
          headers:
            Set-Cookie:
              description: "Provides a `twoFactorAuth` cookie, which can be used to\
                \ bypasses the 2FA requirement for future logins on the same device."
              explode: false
              schema:
                example: "twoFactorAuth=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx;\
                  \ Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly"
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Verify 2FA code with Recovery code
      tags:
      - authentication
  /auth/twofactorauth/emailotp/verify:
    post:
      description: Finishes the login sequence with an 2FA email code.
      operationId: verify2FAEmailCode
      parameters: []
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: "#/components/schemas/TwoFactorEmailCode"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Verify2FAEmailCodeResult"
          description: OK
          headers:
            Set-Cookie:
              description: "Provides a `twoFactorAuth` cookie, which can be used to\
                \ bypasses the 2FA requirement for future logins on the same device."
              explode: false
              schema:
                example: "twoFactorAuth=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx;\
                  \ Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly"
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Verify 2FA email code
      tags:
      - authentication
  /auth:
    get:
      description: Verify whether the currently provided Auth Token is valid.
      operationId: verifyAuthToken
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyAuthTokenResult"
          description: Returns wether a provided auth token is valid or not.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Verify Auth Token
      tags:
      - authentication
  /logout:
    put:
      description: Invalidates the login session.
      operationId: logout
      responses:
        "200":
          content:
            application/json:
              examples:
                Logout Success:
                  value:
                    success:
                      message: Ok!
                      status_code: 200
              schema:
                $ref: "#/components/schemas/Success"
          description: OK
          headers:
            Set-Cookie:
              description: Clears the `auth` cookie.
              explode: false
              schema:
                default: "auth=; Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/"
                type: string
              style: simple
            \0Set-Cookie:
              description: Clears the `age` cookie.
              explode: false
              schema:
                default: "age=; Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/"
                type: string
              style: simple
            \0\0Set-Cookie:
              description: Clears the `tos` cookie.
              explode: false
              schema:
                default: "tos=; Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/"
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Logout
      tags:
      - authentication
  /users/{userId}/delete:
    put:
      description: |-
        Deletes the account with given ID. Normal users only have permission to delete their own account. Account deletion is 14 days from this request, and will be cancelled if you do an authenticated request with the account afterwards.

        **VRC+ NOTE:** Despite the 14-days cooldown, any VRC+ subscription will be cancelled **immediately**.

        **METHOD NOTE:** Despite this being a Delete action, the method type required is PUT.
      operationId: deleteUser
      parameters:
      - description: Must be a valid user ID.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUser"
          description: OK
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Delete User
      tags:
      - authentication
  /auth/register:
    post:
      deprecated: true
      description: |-
        ~~Register a new user account.~~

        **DEPRECATED:** Automated creation of accounts has no legitimate public third-party use case, and would be in violation of ToS §13.2:
        *By using the Platform, you agree not to: i. [...] use the Platform in a manner inconsistent with individual human usage*
        This endpoint is documented in the interest of completeness
      operationId: registerUserAccount
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterUserAccountRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUser"
          description: OK
          headers:
            Set-Cookie:
              description: Successful authentication returns an `auth` cookie.
              explode: false
              schema:
                example: "auth=authcookie_00000000-0000-0000-0000-000000000000; Expires=Tue,\
                  \ 01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly"
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      summary: Register User Account
      tags:
      - authentication
  /auth/user/resendEmail:
    post:
      description: Requests a resend of pending email address confirmation email
      operationId: resendEmailConfirmation
      parameters: []
      responses:
        "200":
          content:
            application/json:
              examples:
                Resend Verification Email Success:
                  value:
                    success:
                      message: Verification Email Sent!
                      status_code: 200
              schema:
                $ref: "#/components/schemas/Success"
          description: OK
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Resend Email Confirmation
      tags:
      - authentication
  /auth/confirmEmail:
    get:
      description: Confirms the email address for a user
      operationId: confirmEmail
      parameters:
      - description: Target user for which to verify email.
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: usr_00000000-0000-0000-0000-000000000000
          type: string
        style: form
      - description: Token to verify email.
        explode: true
        in: query
        name: verify_email
        required: true
        schema:
          example: eml_00000000-0000-0000-0000-000000000000
          type: string
        style: form
      responses:
        "302":
          description: OK
      summary: Confirm Email
      tags:
      - authentication
  /auth/verifyLoginPlace:
    get:
      description: Verifies a login attempt for a user
      operationId: verifyLoginPlace
      parameters:
      - description: Filter by UserID.
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - description: Token to verify login attempt.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "302":
          description: OK
      summary: Verify Login Place
      tags:
      - authentication
  /auth/user/avatarmoderations:
    get:
      description: Returns list of globally blocked avatars.
      operationId: getGlobalAvatarModerations
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AvatarModeration"
                type: array
          description: Returns list of globally blocked avatars with timestamps
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Global Avatar Moderations
      tags:
      - authentication
  /users/{userId}/avatar:
    get:
      description: Get the current avatar for the user. This will return an error
        for any other user than the one logged in.
      operationId: getOwnAvatar
      parameters:
      - description: Must be a valid user ID.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Avatar"
          description: Returns a single Avatar object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "403":
          content:
            application/json:
              examples:
                "403 Cant See Other Users Current Avatar":
                  value:
                    error:
                      message: \"You do not have permission to fetch details about
                        the avatar on this user.\"
                      status_code: 403
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to see another users current avatar
            without sufficient admin permissions.
      security:
      - authCookie: []
      summary: Get Own Avatar
      tags:
      - avatars
  /avatars:
    get:
      description: Search and list avatars by query filters. You can only search your
        own or featured avatars. It is not possible as a normal user to search other
        peoples avatars.
      operationId: searchAvatars
      parameters:
      - description: Filters on featured results.
        explode: true
        in: query
        name: featured
        required: false
        schema:
          type: boolean
        style: form
      - description: The sort order of the results.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: "#/components/schemas/SortOption"
        style: form
      - description: Set to `me` for searching own avatars.
        explode: true
        in: query
        name: user
        required: false
        schema:
          enum:
          - me
          type: string
        style: form
      - description: Filter by UserID.
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Result ordering
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: "#/components/schemas/OrderOption"
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Tags to include (comma-separated). Any of the tags needs to be
          present.
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Tags to exclude (comma-separated).
        explode: true
        in: query
        name: notag
        required: false
        schema:
          type: string
        style: form
      - description: Filter by ReleaseStatus.
        explode: true
        in: query
        name: releaseStatus
        required: false
        schema:
          $ref: "#/components/schemas/ReleaseStatus"
        style: form
      - description: The maximum Unity version supported by the asset.
        explode: true
        in: query
        name: maxUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The minimum Unity version supported by the asset.
        explode: true
        in: query
        name: minUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The platform the asset supports.
        explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Avatar"
                type: array
          description: Returns a list of Avatar objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Search Avatars
      tags:
      - avatars
    post:
      description: Create an avatar. It's possible to optionally specify a ID if you
        want a custom one. Attempting to create an Avatar with an already claimed
        ID will result in a DB error.
      operationId: createAvatar
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAvatarRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Avatar"
          description: Returns a single Avatar object.
        "400":
          content:
            application/json:
              examples:
                Unable To Create Avatar Now Example:
                  value:
                    error:
                      message: You can't create an avatar right now
                      status_code: 400
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing permissions.
        "401":
          content:
            application/json:
              examples:
                "401 Cannot Set Featured":
                  value:
                    error:
                      message: cannot set featured tag if you are not an admin
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when set featured to true without being an admin.
      security:
      - authCookie: []
      summary: Create Avatar
      tags:
      - avatars
  /avatarStyles:
    get:
      description: List avatar styles.
      operationId: getAvatarStyles
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AvatarStyle"
                type: array
          description: Returns a list of AvatarStyle objects.
      summary: Get Avatar Styles
      tags:
      - avatars
  /avatars/{avatarId}:
    delete:
      description: "Delete an avatar. Notice an avatar is never fully \"deleted\"\
        , only its ReleaseStatus is set to \"hidden\" and the linked Files are deleted.\
        \ The AvatarID is permanently reserved."
      operationId: deleteAvatar
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Avatar"
          description: Returns a single Avatar object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Delete Avatar
      tags:
      - avatars
    get:
      description: Get information about a specific Avatar.
      operationId: getAvatar
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Avatar"
          description: Returns a single Avatar object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Get Avatar
      tags:
      - avatars
    put:
      description: Update information about a specific avatar.
      operationId: updateAvatar
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAvatarRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Avatar"
          description: Returns a single Avatar object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Update Avatar
      tags:
      - avatars
  /avatars/{avatarId}/select:
    put:
      description: Switches into that avatar.
      operationId: selectAvatar
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUser"
          description: Returns a single CurrentUser object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Select Avatar
      tags:
      - avatars
  /avatars/{avatarId}/selectFallback:
    put:
      deprecated: true
      description: Switches into that avatar as your fallback avatar.
      operationId: selectFallbackAvatar
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUser"
          description: Returns a single CurrentUser object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "403":
          content:
            application/json:
              examples:
                "403 Cant Select Non-Fallback as Fallback":
                  value:
                    error:
                      message: This avatar isn't tagged as a quest fallback avatar.
                      status_code: 403
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to select a fallback avatar that
            is missing the fallback tag.
        "404":
          content:
            application/json:
              examples:
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Select Fallback Avatar
      tags:
      - avatars
  /avatars/favorites:
    get:
      description: Search and list favorited avatars by query filters.
      operationId: getFavoritedAvatars
      parameters:
      - description: Filters on featured results.
        explode: true
        in: query
        name: featured
        required: false
        schema:
          type: boolean
        style: form
      - description: The sort order of the results.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: "#/components/schemas/SortOption"
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Result ordering
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: "#/components/schemas/OrderOption"
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Filters by world name.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Tags to include (comma-separated). Any of the tags needs to be
          present.
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Tags to exclude (comma-separated).
        explode: true
        in: query
        name: notag
        required: false
        schema:
          type: string
        style: form
      - description: Filter by ReleaseStatus.
        explode: true
        in: query
        name: releaseStatus
        required: false
        schema:
          $ref: "#/components/schemas/ReleaseStatus"
        style: form
      - description: The maximum Unity version supported by the asset.
        explode: true
        in: query
        name: maxUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The minimum Unity version supported by the asset.
        explode: true
        in: query
        name: minUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The platform the asset supports.
        explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      - description: "Target user to see information on, admin-only."
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Avatar"
                type: array
          description: Returns a list of Avatar objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "403":
          content:
            application/json:
              examples:
                "403 Cant See Other User Favorite Avatars":
                  value:
                    error:
                      message: \"You can only see your own favorite avatars!\"
                      status_code: 403
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to see favourited avatars of another
            user without sufficient admin permissions.
      security:
      - authCookie: []
      summary: List Favorited Avatars
      tags:
      - avatars
  /avatars/licensed:
    get:
      description: List licensed avatars.
      operationId: getLicensedAvatars
      parameters:
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Avatar"
                type: array
          description: Returns a list of Avatar objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: List Licensed Avatars
      tags:
      - avatars
  /avatars/{avatarId}/impostor/enqueue:
    post:
      description: Enqueue Impostor generation for that avatar.
      operationId: enqueueImpostor
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceStatus"
          description: Returns a Service Status.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Enqueue Impostor generation
      tags:
      - avatars
  /avatars/impostor/queue/stats:
    get:
      description: Gets service stats for queued impostor.
      operationId: getImpostorQueueStats
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceQueueStats"
          description: Returns a Service Queue Stats.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Impostor Queue Stats
      tags:
      - avatars
  /avatars/{avatarId}/impostor:
    delete:
      description: Delete generated Impostor for that avatar.
      operationId: deleteImpostor
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The Impostors generated for that avatar are deleted.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Delete generated Impostor
      tags:
      - avatars
  /calendar:
    get:
      description: Get a list of a user's calendar events for the month in ?date
      operationId: getCalendarEvents
      parameters:
      - description: The month to search in.
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedCalendarEventList"
          description: Returns a list of CalendarEvent objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: List calendar events
      tags:
      - calendar
  /calendar/featured:
    get:
      description: Get a list of a featured calendar events for the month in ?date
      operationId: getFeaturedCalendarEvents
      parameters:
      - description: The month to search in.
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedCalendarEventList"
          description: Returns a list of CalendarEvent objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: List featured calendar events
      tags:
      - calendar
  /calendar/following:
    get:
      description: Get a list of a followed calendar events for the month in ?date
      operationId: getFollowedCalendarEvents
      parameters:
      - description: The month to search in.
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedCalendarEventList"
          description: Returns a list of CalendarEvent objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: List followed calendar events
      tags:
      - calendar
  /calendar/search:
    get:
      description: Get a list of calendar events by search terms
      operationId: searchCalendarEvents
      parameters:
      - description: Search term for calendar events.
        explode: true
        in: query
        name: searchTerm
        required: true
        schema:
          example: game night
          type: string
        style: form
      - description: The offset from UTC in hours of the client or authenticated user.
        explode: true
        in: query
        name: utcOffset
        required: false
        schema:
          maximum: 12
          minimum: -12
          type: integer
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedCalendarEventList"
          description: Returns a list of CalendarEvent objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Search for calendar events
      tags:
      - calendar
  /calendar/{groupId}:
    get:
      description: Get a list of a group's calendar events
      operationId: getGroupCalendarEvents
      parameters:
      - description: Must be a valid group ID.
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          example: grp_00000000-0000-0000-0000-000000000000
          type: string
        style: simple
      - description: The month to search in.
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedCalendarEventList"
          description: Returns a list of CalendarEvent objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: List a group's calendar events
      tags:
      - calendar
  /calendar/{groupId}/event:
    post:
      description: Creates an event for a group on the calendar
      operationId: createGroupCalendarEvent
      parameters:
      - description: Must be a valid group ID.
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          example: grp_00000000-0000-0000-0000-000000000000
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCalendarEventRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalendarEvent"
          description: Returns a single CalendarEvent object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Create a calendar event
      tags:
      - calendar
  /calendar/{groupId}/{calendarId}:
    delete:
      description: Delete a group calendar event
      operationId: deleteGroupCalendarEvent
      parameters:
      - description: Must be a valid group ID.
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          example: grp_00000000-0000-0000-0000-000000000000
          type: string
        style: simple
      - description: Must be a valid calendar ID.
        explode: false
        in: path
        name: calendarId
        required: true
        schema:
          example: cal_00000000-0000-0000-0000-000000000000
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Deleted Calendar Entry:
                  value:
                    success:
                      message: Calendar Entry deleted!
                      status_code: 200
              schema:
                $ref: "#/components/schemas/Success"
          description: Successful response after deleting a calendar event.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Delete a calendar event
      tags:
      - calendar
    get:
      description: Get a group calendar event
      operationId: getGroupCalendarEvent
      parameters:
      - description: Must be a valid group ID.
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          example: grp_00000000-0000-0000-0000-000000000000
          type: string
        style: simple
      - description: Must be a valid calendar ID.
        explode: false
        in: path
        name: calendarId
        required: true
        schema:
          example: cal_00000000-0000-0000-0000-000000000000
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalendarEvent"
          description: Returns a single CalendarEvent object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get a calendar event
      tags:
      - calendar
  /calendar/{groupId}/{calendarId}.ics:
    get:
      description: Returns the specified calendar in iCalendar (ICS) format.
      operationId: getGroupCalendarEventICS
      parameters:
      - description: Must be a valid group ID.
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          example: grp_00000000-0000-0000-0000-000000000000
          type: string
        style: simple
      - description: Must be a valid calendar ID.
        explode: false
        in: path
        name: calendarId
        required: true
        schema:
          example: cal_00000000-0000-0000-0000-000000000000
          type: string
        style: simple
      responses:
        "200":
          content:
            text/calendar:
              schema:
                format: binary
                type: string
          description: iCalendar file download
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 File Not Found":
                  value:
                    error:
                      message: Calendar Entry not foundǃ
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to download ICS calendar of a non-existent
            calendar entry.
      summary: Download calendar event as ICS
      tags:
      - calendar
  /calendar/{groupId}/{calendarId}/event:
    put:
      description: Updates an event for a group on the calendar
      operationId: updateGroupCalendarEvent
      parameters:
      - description: Must be a valid group ID.
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          example: grp_00000000-0000-0000-0000-000000000000
          type: string
        style: simple
      - description: Must be a valid calendar ID.
        explode: false
        in: path
        name: calendarId
        required: true
        schema:
          example: cal_00000000-0000-0000-0000-000000000000
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCalendarEventRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalendarEvent"
          description: Returns a single CalendarEvent object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Update a calendar event
      tags:
      - calendar
  /calendar/{groupId}/{calendarId}/follow:
    post:
      description: Follow or unfollow an event on a group's calendar
      operationId: followGroupCalendarEvent
      parameters:
      - description: Must be a valid group ID.
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          example: grp_00000000-0000-0000-0000-000000000000
          type: string
        style: simple
      - description: Must be a valid calendar ID.
        explode: false
        in: path
        name: calendarId
        required: true
        schema:
          example: cal_00000000-0000-0000-0000-000000000000
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FollowCalendarEventRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalendarEvent"
          description: Returns a single CalendarEvent object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Follow a calendar event
      tags:
      - calendar
  /Steam/transactions:
    get:
      description: Get all own Steam transactions.
      operationId: getSteamTransactions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Transaction"
                type: array
          description: Returns a list of Transaction objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: List Steam Transactions
      tags:
      - economy
  /Steam/transactions/{transactionId}:
    get:
      deprecated: true
      description: "Get a single Steam transactions by ID. This returns the exact\
        \ same information as `getSteamTransactions`, so no point in using this endpoint."
      operationId: getSteamTransaction
      parameters:
      - description: Must be a valid transaction ID.
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction"
          description: Returns a single Transaction object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Steam Transaction
      tags:
      - economy
  /Admin/transactions:
    get:
      description: Get all own Admin transactions.
      operationId: getAdminTransactions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Transaction"
                type: array
          description: Returns a list of Transaction objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Admin Transactions
      tags:
      - economy
      x-internal: true
  /Admin/transactions/{transactionId}:
    get:
      deprecated: true
      description: "Get a single Admin transactions by ID. This returns the exact\
        \ same information as `getAdminTransactions`, so no point in using this endpoint."
      operationId: getAdminTransaction
      parameters:
      - description: Must be a valid transaction ID.
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction"
          description: Returns a single Transaction object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Admin Transactions
      tags:
      - economy
      x-internal: true
  /auth/user/subscription:
    get:
      description: Get a list of all current user subscriptions.
      operationId: getCurrentSubscriptions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/UserSubscription"
                type: array
          description: Returns a list of UserSubscription objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Current Subscriptions
      tags:
      - economy
  /users/{userId}/subscription/eligible:
    get:
      description: Get the user's eligibility status for subscriptions.
      operationId: getUserSubscriptionEligible
      parameters:
      - description: Must be a valid user ID.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: The Steam ID of the user.
        explode: true
        in: query
        name: steamId
        required: false
        schema:
          example: game night
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSubscriptionEligible"
          description: Returns a single UserSubscriptionEligible object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get User Subscription Eligiblity
      tags:
      - economy
  /subscriptions:
    get:
      description: "List all existing Subscriptions. For example, \"vrchatplus-monthly\"\
        \ and \"vrchatplus-yearly\"."
      operationId: getSubscriptions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Subscription"
                type: array
          description: Returns a list of Subscription objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: List Subscriptions
      tags:
      - economy
  /licenseGroups/{licenseGroupId}:
    get:
      description: Get a single License Group by given ID.
      operationId: getLicenseGroup
      parameters:
      - description: Must be a valid license group ID.
        explode: false
        in: path
        name: licenseGroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LicenseGroup"
          description: Returns a single LicenseGroup object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get License Group
      tags:
      - economy
  /listing/{productId}:
    get:
      description: Gets a product listing
      operationId: getProductListing
      parameters:
      - description: Must be a valid product ID.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: Populates some fields and changes types of others for certain
          objects.
        explode: true
        in: query
        name: hydrate
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductListing"
          description: Returns a single ProductListing object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Product Listing
      tags:
      - economy
  /user/{userId}/listings:
    get:
      description: Gets the product listings of a given user
      operationId: getProductListings
      parameters:
      - description: Must be a valid user ID.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Populates some fields and changes types of others for certain
          objects.
        explode: true
        in: query
        name: hydrate
        required: false
        schema:
          type: boolean
        style: form
      - description: Must be a valid group ID.
        explode: true
        in: query
        name: groupId
        required: false
        schema:
          example: grp_00000000-0000-0000-0000-000000000000
          type: string
        style: form
      - description: Filter for users' listings and inventory bundles.
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ProductListing"
                type: array
          description: Returns a list of ProductListing objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get User Product Listings
      tags:
      - economy
  /tokenBundles:
    get:
      description: Gets the list of token bundles
      operationId: getTokenBundles
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/TokenBundle"
                type: array
          description: Returns a list of TokenBundle objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: List Token Bundles
      tags:
      - economy
  /tilia/status:
    get:
      description: Gets the status of Tilia integration
      operationId: getTiliaStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TiliaStatus"
          description: Returns a single TiliaStatus object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Tilia Status
      tags:
      - economy
  /user/{userId}/tilia/tos:
    get:
      description: Gets the status of the agreement of a user to the Tilia TOS
      operationId: getTiliaTos
      parameters:
      - description: Must be a valid user ID.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TiliaTOS"
          description: Returns a single TiliaTOS object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Tilia TOS Agreement Status
      tags:
      - economy
  /user/{userId}/balance:
    get:
      description: Gets the balance of a user
      operationId: getBalance
      parameters:
      - description: Must be a valid user ID.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Balance"
          description: Returns a single Balance object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Balance
      tags:
      - economy
  /user/{userId}/balance/earnings:
    get:
      description: Gets the balance of a user from earnings
      operationId: getBalanceEarnings
      parameters:
      - description: Must be a valid user ID.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Balance"
          description: Returns a single Balance object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Balance Earnings
      tags:
      - economy
  /user/{userId}/economy/account:
    get:
      description: Gets the economy account of a user
      operationId: getEconomyAccount
      parameters:
      - description: Must be a valid user ID.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EconomyAccount"
[...]
